html, body {
    background-color: #ffffff;
    margin: 10px;
    font-family: "Lato", "Helvetiva", "Arial", sans-serif;
}

input.custom {
  color: grey;
  font: 18px "Helvetica", "Arial", "sans-serif";
}

form {
  font-family: "Lato", "Helvetiva", "Arial", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-variant-caps: titling-caps;
  font-size: 16px;
  color: #E54000;
}

button {
  font-size: 18px "Helvetica", "Arial", "sans-serif";
  font-weight: bolder;
  color: red;
  background-color: black;
  padding: 14px 28px;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 3px 3px 0 rgba(0,0,0,0.19);
  border-color: black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  display: block;
  width: 100px;
}

button:hover {
    background-color: black;
    color: red;
}

button:active {
  background-color: #66666;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.forms {
    display: inline-grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax (30px 1fr;))
    grid-auto-rows: 40px;
}

label {

}

ul {
    list-style-position: inside;
    padding-left:0;
}
header {
    height: 120px;
    width: 100%;
    background-color: #E54000;
}

nav {
  color: #ffffff;
  float: right;
  padding-right: 15px;
  background-color: #E54000;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E54000;
}

li {
    display: inline;
    width: 60px;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #E54000;
}

li a:hover {
  background-color: #655D63;
}

.active {
    background-color: #655D63;
}
#logo {
  font-family: "Lato", "Helvetiva", "Arial", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-variant-caps: normal;
  font-size: 52px;
  color: #ffffff;
  padding-left: 15px;
}

#meetTeam {
  text-align: left;
  margin: 40px;
  font-family: "Lato", "Helvetiva", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;

}

h1 {
  margin: 40px;
  font-family: "Lato", "Helvetiva", "Arial", sans-serif;
}

/* Centered text */
.centered {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
}

.team-subtitle {
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 2px #191919;
}

.team-title {
  color: white;
  font-size: 28px;
  font-weight: 400;
  text-shadow: 2px 2px 2px #191919;
}

.team-box {
  display: block;
  position: absolute;
  bottom: 0%;
  height: 88px;
  width: 100%;
  background-color: #191919;
  opacity: .5;
}

.team-overlay:hover .team-box {
  display: block;
  position: absolute;
  bottom: 0%;
  height: 88px;
  width: 100%;
  background-color: #191919;
  opacity: .5;
}

.test:hover {
    filter:blur(1.5px) brightness(50%);
    box-shadow:0 0 0px;
  }

.team-overlay:hover .profile-button {
    display: block;
    width: 65%;
    height: 40px;
    background-color: green;
    position: absolute;
    text-align: center;
    filter: opacity(.85);
  }

.test {
  display: contents;
  width: 100%;
  height: 100%;
  border: none;
}

.profile-button:hover {
    display: block;
    width: 65%;
    height: 40px;
    background-color: green;
    position: absolute;
    text-align: center;
    filter: opacity(.85);
}

.profile-button:hover {
  filter:blur(1.5px) brightness(50%);
  box-shadow:0 0 0px;
}

.profile-button {
    display: none;
    text-align: center;
  }

.profile-button:link {
  color: white;
  text-decoration: none;
  text-align: center;
}

.profile-link {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.teamNames {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.teamgrid > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
