/*.adventure-all {
  position: relative;
  max-width: 385px;
  margin:0 auto;
}
.adventure-all {
  max-width: 100%;
}
.adventure-text {
  position: absolute;
  height:100%;
  width:100%;
  background-color: rgba(0,0,0,0.3);
  color:#fff;
  text-transform: uppercase;
}
.adventure-text:hover {
  background-color: rgba(240,72,62,0.9);
}
.adventure-text:hover .adventure-cta span {
  display: block;
  position: absolute;
  width:100%;
  bottom:65px;
}
.adventure-text:hover {
  background-color: rgba(0,0,0,0.3);
}
.adventure-title {
  position: relative;
  height:100%;
  width:100%;
  color:#fff;}
.adventure-title span {
  position: absolute;
  left:0;
  width:100%;
  color:#fff;
  top:40%;
  font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B";
  font-style: normal;
}
.adventure-cta {
  position: absolute;
  left:0;
  height:100%;
  width:100%;
  color:#fff;
  top:0;}
.adventure-cta span {
  font-family: "Gotham XNarrow SSm A", "Gotham XNarrow SSm B";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  font-size: 1rem;
  letter-spacing: .1em;
  display: none;
}
.adventure-cta span {
  display: block;
  position: absolute;
  width:100%;
  bottom:65px;
}
.adventure-img {
  height:300px;
  overflow:hidden;
}
.adventure-img img {
  width:100%;
  height:auto;
}
.small-cta {
  font-family: "Gotham XNarrow SSm A", "Gotham XNarrow SSm B";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  font-size: 1rem;
  letter-spacing: .1em;
  text-transform: uppercase;
  color:#fff;
}
.adventures-container {
padding: 0;
margin: 40px 0;
list-style: none;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-flex-flow: row wrap;
justify-content: space-around;
}
.adventures-container {
  margin:40px -20px 0 -20px;
}
.adventures-container li .adventures-item:last-child {
  margin-bottom:10px;
}
.adventures-item {
padding: 5px;
width: 33%;
margin-top: 10px;
color: #fff;
text-align: center;
}
.adventures-item {
  padding:0; margin-top:10px;
}
@media (max-width: 991px) {
.adventures-item {
  width: 100%;
}
.join-team-desktop {
  display: none;
}
.join-team-mobile {
  display: block;
}
#sidebar-mobile {
  display: block;
}
#sidebar {
  display: none;
}
footer {
  background-size:250%;
}
#sticky-sidebar {
  display: none;
}
.scrolled .navbar-header .navbar-brand .logo-scrolled {
  height:30px;
  overflow: hidden;
  margin-top:5px;
}
#main-nav-wrap.scrolled {
  padding:7px 0px;
}
#main-nav-wrap.scrolled .navbar-toggle {
  margin-top:8px;
}
}
@media (min-width: 992px) {
.adventures-item {
  width: 33%;
}
.join-team-mobile {
  display: none;
}
.join-team-desktop {
  display: block;
}
#sidebar-mobile {
  display: none;
}
#sidebar {
  display: block;
}
.scrolled .navbar-header .navbar-brand .logo-scrolled {
  height:40px;
  overflow: hidden;
  margin-top:7px;
}
#main-nav-wrap.scrolled {
  padding:2px 0px;
}*/

/*.teamgrid * {
	box-sizing: border-box;
}*/
/*.teamgrid2 {
	position: absolute;
	display: grid;
	overflow: hidden;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 300px;
  margin: 40px
}*/

.teamgrid2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teamgrid2 > div > img {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }

.teamgrid2 .teamgrid-layer_bottom {
	display: grid;
  align-items: center;
  justify-content: center;
}
.teamgrid2 .teamgrid-layer_top {
	opacity: 0;
	position: absolute;
  object-fit: contain;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 0px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.teamgrid2:hover .teamgrid-layer_top,
.teamgrid2.active .teamgrid-layer_top {
	opacity: 1;
}

.teamgrid-text {
  text-align: center;
}

.teamgrid2 .teamgrid-text {
	font-size: 18px;
	display: grid;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.teamgrid2 .teamgrid-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.teamgrid2.active .teamgrid-text_mobile {
	display: block;
}

.teamgrid-layer_middle {
display: grid;
position: absolute;
bottom: 0%;
height: 88px;
width: 100%;
background-color: #191919;
opacity: .5;
}

.static-text {
  color: white;
  text-align: center;
}

.teamgrid2 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #ffffff;
    background-color: none;
    align-content: center;
    font-family: "Lato", "Helvetiva", "Arial", sans-serif;
    text-align: center;
    position: relative;
}

/*.teamgrid3 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #ffffff;
    background-color: none;
    align-content: center;
    font-family: "Lato", "Helvetiva", "Arial", sans-serif;
    text-align: center;
    position: relative;
}*/

.teamgrid3 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    margin: 40px;

}

.whitespace {
  height: 300px;
  width: 100%;
  background-color: none;
}
